.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  display: flex;
  gap: rem(12);
  padding: rem(8);
  background-color: var(--mantine-color-black);
  color: var(--mantine-color-white);
  font-weight: 700;
}

.label {
  cursor: pointer;
}
