@import 'tailwindcss';
@import './animations.css';

@plugin "@tailwindcss/typography";

@theme {
  --color-background: #161617;
  --color-background-light: #373737;
  --color-title-light: #e1e1e1;
  --color-title-dark: #858585;
  --color-title-darker: #252525;
  --color-button-background: #ededed;
  --color-border-dark: #565656;
  --color-border-light: #e5e7eb;
  --color-social-facebook: #1877f2;
  --color-social-whatsapp: #25d366;
  --color-social-telegram: #0088cc;
  --color-social-reddit: #ff4500;
  --color-social-bluesky: #0085ff;
  --color-social-mastodon: #6364ff;
}

@theme inline {
  --font-grotesque: var(--font-grotesque);
  --font-nabla: var(--font-nabla);
}

@utility container {
  margin-inline: auto;
}

@utility prose {
  --tw-prose-body: var(--color-title-light);
  --tw-prose-headings: var(--color-title-light);
  --tw-prose-lead: var(--color-title-light);
  --tw-prose-links: var(--color-title-light);
  --tw-prose-bold: var(--color-title-light);
  --tw-prose-counters: var(--color-title-light);
  --tw-prose-bullets: var(--color-title-light);
  --tw-prose-hr: var(--color-border-dark);
  --tw-prose-quotes: var(--color-title-light);
  --tw-prose-quote-borders: var(--color-border-dark);
  --tw-prose-captions: var(--color-title-dark);
  --tw-prose-code: var(--color-title-light);
  --tw-prose-pre-code: var(--color-title-light);
  --tw-prose-pre-bg: var(--color-background-light);
  --tw-prose-th-borders: var(--color-border-dark);
  --tw-prose-td-borders: var(--color-border-dark);
}

html {
  scrollbar-gutter: stable;
}

body {
  --sb-track-color: var(--color-text-darker);
  --sb-thumb-color: var(--color-border-dark);
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

::selection {
  background: var(--color-title-light);
  color: var(--color-title-darker);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
