@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #161617;
  --color-background-light: #373737;
  --color-text-light: #e1e1e1;
  --color-text-dark: #858585;
  --color-text-darker: #252525;
  --color-button-background: #ededed;
  --color-border-dark: #565656;
}

body {
  --sb-track-color: var(--color-text-darker);
  --sb-thumb-color: var(--color-border-dark);
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
