.wrapper,
.container {
  background-color: var(--mantine-color-black);
}

.article {
  font-family: var(--font-golos);
}

.author {
  display: flex;
  justify-content: space-between;
  width: 100%;

  div {
    display: flex;
  }
}

.image {
  position: relative;
  width: 100%;
  height: rem(384);

  img {
    object-fit: cover;
  }
}

.content {
  margin-block: rem(80);
}
