name: Full Test Suite
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    
    env:
      PAYLOAD_SECRET: ${{ secrets.PAYLOAD_SECRET }}
      DATABASE_URI: ${{ secrets.DATABASE_URI }}
      NEXT_PUBLIC_BASE_URL: http://localhost:3000
      NEXT_PUBLIC_TITLE: Toyz
      RESEND_API_KEY: re_123
      NEXT_PUBLIC_RECAPTCHA_SITE_KEY: 6LdqoQosAAAAAITKIchlN59PrBwPJuQgJElZNZHi

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Install dependencies
      run: pnpm install

    - name: Run Vitest (Unit & Integration)
      run: pnpm test:ci

    - name: Install Playwright Browsers
      run: pnpm exec playwright install --with-deps

    - name: Run Playwright (E2E)
      run: pnpm test:e2e

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30