.wrapper {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video {
  position: absolute;
  inset: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
